.vh-100 a{
    width: 296px;
    // padding: 12px 32px;
}
.fs14{
    font-size: 14px;
}

nav .nav-link{
    padding: 0px 0px 0px 34px;
}
nav .nav-item:not(:first-child) .nav-link{
    &:hover::before{
        content: "";
        position: absolute;
        left: 0px;
        height: 32px;
        // border-left: 4px solid $success;
        width: 4px;
        background: $success;
        display: inline-block;
        vertical-align: middle; 
    }
}